{% extends 'base.html.twig' %}

{% block title %}404{% endblock %}
{% block body %}
        <div class="container">
        <h1 class="text-center">404</h1>
        <h1 class="text-center">cette page n'existe pas!</h1>
        <div class="back text-center my-3">
            <a href="{{ path('home') }}" class="btn btn-warning">Retour à l'accueil</a>
        </div>    
    </div>
{% endblock %}